body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  position: relative; /**xreiazetai gia to footer na menei katw xwris kena**/
  min-height: 100%; /**html so that if content is less then still page takes full view-port height and footer sticks at bottom of page. When content increases the footer shifts down with content and keep sticking to bottom.**/
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
